# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Docker
*.env
Dockerfile.*
docker-compose.yml
.dockerignore

# Kubernetes
kubernetes/*.yaml

# Logs
*.log
*.log.*

# Operating System files
.DS_Store
Thumbs.db

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# Test coverage
htmlcov/
.tox/
.nox/

# Pytest
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Miscellaneous
*.bak
*.tmp
